.credentialsForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 20px 14px;
  border-radius: 10px;
  border: 1px solid #e7e9ee;
  background-color: #f9f9f9;
}

.credentialsFormField {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.credentialsFormInput{
  width: 100%;
}
